{
  "image_configuration": {
    "dither_algorithm": "2",
    "alpha_dither": "yes",
    "layout_rotation": "0",
    "opaque_image_format": "RGB565",
    "nonopaque_image_format": "ARGB8888",
    "l8_compression": "no",
    "rgb_compression": "no",
    "section": "ExtFlashSection",
    "extra_section": "ExtFlashSection",
    "images": {
      "__generated\\icon_theme_images_navigation_arrow_upward_50_50_E8F6FB.svg.png": {
        "section": "IntFlashSection"
      },
      "icon02.png": {
        "section": "IntFlashSection"
      },
      "icon03.png": {
        "section": "IntFlashSection"
      },
      "__generated\\icon_theme_images_action_arrow_circle_down_50_50_E8F6FB.svg.png": {
        "section": "IntFlashSection"
      },
      "__generated\\alternate_theme_images_widgets_button_regular_height_50_tiny_round_normal.png": {
        "section": "IntFlashSection"
      },
      "icon04.png": {
        "section": "IntFlashSection"
      },
      "__generated\\icon_theme_images_action_arrow_circle_up_50_50_E8F6FB.svg.png": {
        "section": "IntFlashSection"
      },
      "icon05.png": {
        "section": "IntFlashSection"
      },
      "icon06.png": {
        "section": "IntFlashSection"
      },
      "__generated\\alternate_theme_images_widgets_button_regular_height_50_tiny_round_pressed.png": {
        "section": "IntFlashSection"
      },
      "__generated\\icon_theme_images_navigation_arrow_downward_50_50_E8F6FB.svg.png": {
        "section": "IntFlashSection"
      },
      "icon01.png": {
        "section": "IntFlashSection"
      },
      "icon00.png": {
        "section": "IntFlashSection"
      }
    }
  },
  "text_configuration": {
    "cache_size": 4096,
    "remap": "yes",
    "a4": "yes",
    "binary_translations": "no",
    "binary_fonts": "no",
    "framebuffer_bpp": "16",
    "font_format": "1",
    "copy_translations_to_ram": "no"
  }
}